@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --bg-page: #f0f2f5;
  --orange: #ff7417;
  --light-orange: #ff6600;
  --dark-orange: #be5d1d;
  --azul-escuro: #2c3e50;
  --gray-disabled: #95a5a6;
  --text-gray: #7f8c8d;
  --border-gray: #dee2e6;
  --border-light: #f1f1f1;
  --bg-gray-light: #f8f9fa;
  --orange-accent: #f5741e;
  --success-green: #2ecc71;
  --success-green-hover: #27ae60;
  --not-black: #232323;
}

* {
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}

body {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-page);
}

#root {
  display: flex;
  width: 100vw;
}
@import './styles/_checkboxs.css';